{% extends "base.html" %}
{% block title %}<title>Об авторе проекта</title>{% endblock %}
{% block content %}
<aside class="container py-5">
    <h2>Привет, я автор данного <a href="{% url 'posts:index' %}">сайта</a> и меня зовут <a href='http://telegram.me/badenai'> Баденков Александр</a>!</h2>
</aside>
<article class="container py-10">
    <p>
        Я родился в г.Красноярск и прожил здесь большую часть своей жизни.
    </p>
    <p>
        В 2015 году поступи в Инженерно-строительный институт СФУ и успешно закончил его в 2021 году.
    </p>
    <p>
        В данный момент работаю BIM-менеджером в компании АСКОН по продвижению отечественной BIM системы Renga.Но это не главное.
    </p>
    <p>
        Паралельно я учусь на веб-разработчика и этой мой первый блог.
        В дальнейшем планирую менять свою деятельность на данную область - IT.
    </p>
</article>
{% endblock %}
